@{
    ViewBag.Title = "Home Page";
}



<div class="content-container-fluid">
<div class="row">
    <a href="@Url.Action("Index","Student")">Student Maintenance</a>

</div>
    <div class="row">
        <a href="@Url.Action("Index","Assessment")">Test Maintenance</a>
    </div>
    <div class="row">
        1. Add Student<br/>
        2. Remove Student<br/>
        3. Edit Student<br/>
        4. Add Class<br/>
        5. Remove Class<br/>
        6. Edit Class<br/>
        7. Add Class Session<br/>
        8. Remove Class Session<br/>
        9. Edit Class Session<br/>
        9a. Add Students
        9b. Remove Students<br/>
        10. Add Course Category<br/>
        11. Remove Course Category<br/>
        12. Edit Course Category<br/>
        13. Browse Course Categories<br/>
        14. Load Scanned Test<br/>
        15. Edit Scanned Test<br/>
        16. Delete Scanned Test<br/>
        17. Display Test Results<br/>
    </div>


</div>

<div class="content-container-fluid">
    <div class="row">
        <div class="cols-sample-area">
            <div class="frame">
                <div class="control">
                    <div class="posupload">Select a file to upload </div>
                    <div id="UploadDefault"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    #UploadDefault {
        margin: 0 auto;
        padding: 10px;
    }

    .posupload {
        text-align: center;
    }
</style>


    <script type="text/javascript">



        $(function () {
            //debugger;



            saveUrl = "@Url.Action("UploadStudents","Student")";
            removeUrl = "@Url.Action("RemoveFile","Student")";
            $("#UploadDefault").ejUploadbox({
                saveUrl: saveUrl,
                removeUrl: removeUrl,
                multipleFilesSelection: false,
                error: function (args) {
                    alert(args.error);
                }
            });




        });




</script>








